@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inzerotech</h1>
    <p class="lead">We help our customers develop software solutions ranging from Mobile to Cloud hosted applications and anything in-between using latest technologies and frameworks</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Engineering</h2>
        <p>
            The Engineering industry is high risk, fragmented and highly competitive. Growing project complexities, fragmented business and processes
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Technology</h2>
        <p>The industry is making a move to integrate products with support services to create new and long-term revenue streams.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <img src="smiley.gif" alt="Smiley face" height="42" width="42">

        <h2>Energy & Utilities</h2>
        @*<img src="~/image/ezgif.com-crop.gif" />*@
        <p>Utility companies continue to focus more on customer engagements, ever-changing regulations and integration of renewable energy.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>